{% extends 'core/base.html' %}

{% block header %}
    Clientes: Listado de Clientes
{% endblock header %}

{% block main %}
    <ul>
        {% for cliente in clientes %}
            {% if cliente.pais_origen %}
                <li>{{ cliente.nombre }} {{ cliente.apellido }} ({{ cliente.pais_origen }})</li>
            {% else %}
                <li>{{ cliente.nombre }} {{ cliente.apellido }}</li>
            {% endif %}
        {% empty %}
            <p>No hay registros</p>
        {% endfor %}
    </ul>
    <a href="{% url 'clientes:index' %}">Volver</a>
{% endblock main %}
