<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>EducaciónIT</title>
    </head>
    <body style="margin: 2%;">
        <h1 style="text-align: center;">Clientes: Listado de Países de Origen</h1>
        <div style="text-align: center;">
            <ul>
                {% for pais in paises %}<li>{{ pais.nombre }}</li>{% endfor %}
            </ul>
            <a href="{% url 'clientes:index' %}">Volver</a>
        </div>
    </body>
</html>
