<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>EducaciónIT</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    </head>
    <body style="margin: 2%;">
        <header>
            <h1 style="text-align: center; color: blue;">

                {% block header %}
                {% endblock header %}

            </h1>
        </header>
        <nav>
            {% include 'core/components/navbar.html' %}
        </nav>
        <main>
            <div style="display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        padding-inline: 10%">

                {% block main %}
                {% endblock main %}
            </div>
        </main>
        <footer>
            {% include 'core/components/footer.html' %}
        </footer>
    </body>
</html>
