{% extends 'core/base.html' %}
{% load static %}

{% block header %}
    La Caja de Pandora
{% endblock header %}

{% block main %}
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0"
             src="{% static 'core/assets/caja-pandora.jpg' %}"
             alt="..." />
    </div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Nuestro Negocio</h1>
        <p>
            This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
        </p>
        <a class="btn btn-primary" href="#!">Call to Action!</a>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">
                This call to action card is a great place to showcase some important information or display a clever tagline!
            </p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        {% include 'core/components/card.html' with titulo="Tarjeta 1" texto="Algo" %}
        {% include 'core/components/card.html' with titulo="Tarjeta 2" texto="Algo" %}
        {% include 'core/components/card.html' with titulo="Tarjeta 3" texto="Algo" %}
        {% include 'core/components/card.html' with titulo="Tarjeta 4" texto="Algo" %}
        {% include 'core/components/card.html' with titulo="Tarjeta 5" texto="Algo" %}
        
    </div>
{% endblock main %}
